/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Wpv block loop item div **/
.wpv-block-loop-item > div {
	max-height: ;
}

/** General >> Heading 6 **/
.tb-grid > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > h6 {
	max-width: 100% !important;
	margin-top: 0 !important;
}

/** General >> Fld 7421119 1 **/
#fld_7421119_1 {
	max-width: 100% !important;
}

/** General >> CF600e8bc4f266a 1 row 6 input **/
#CF600e8bc4f266a_1-row-6 input {
	background-color: rgb(30, 73, 146) !important;
	border-radius: 10px !important;
}

/** General >> CF602100b03d296 1 row 5 input **/
#CF602100b03d296_1-row-5 input {
	font-size: 125% !important;
	width: 100% !important;
	height: 45px !important;
	border-radius: 10px !important;
}
#CF602100b03d296_1-row-5 input:hover {
	color: white !important;
	background-color: black !important;
}

/** General >> Fld 7908577 1 **/
#fld_7908577_1 {
	width: 2px !important;
}

/** General >> Fld 7908577 1 _2 **/
#fld_7908577_1 {
	min-width: 100% !important;
	max-width: 100% !important;
}

/** General >> Fld 3410902 1 **/
#fld_3410902_1 {
	max-width: 100% !important;
}

/** General >> Wpv view layout 868 tb heading **/
#wpv-view-layout-868 .tb-heading {
	min-height: 60px !important;
	max-height: 60px !important;
}

/** General >> Wpv view layout 868 tb button link **/
#wpv-view-layout-868 .tb-button__link {
	min-width: 100% !important;
	max-width: 100% !important;
}

/** General >> Wpv view layout 896 tb heading **/
#wpv-view-layout-896 .tb-heading {
	min-height: 55px !important;
	max-height: 60px !important;
}

/** General >> Wpv view layout 896 tb button link **/
#wpv-view-layout-896 .tb-button__link {
	min-width: 100% !important;
}

/** General >> Wpv view layout 934 link **/
#wpv-view-layout-934 a {
	min-width: 100% !important;
}

/** General >> Gb inside container [type="email"] **/
.gb-inside-container [type="email"] {
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

